<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <h2><a href="/homepage">Our Wonderful App</a></h2>
        <nav>
            <a href="/homepage">Log In</a>
        </nav>
    </header>

    <main>
        <h3></h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis fugit, voluptas vitae nihil esse laborum ex dicta corporis repellat veniam perspiciatis quia pariatur molestiae doloremque accusantium, fugiat perferendis dolor. Eius!</p>
    </main>

    <footer>
        <small>&copy; Our wonderful App</small>
    </footer>
</body>
</html>
